#image {
    width: 100%;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
} 
#navbar {
    background-color: #c0e6f5!important;
}
.navbar-toggler {
  background-color: #f8f9fa!important;
}

.map-container{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-container iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}